In [1]:
import pandas as pd

data_path = "../data/raw/ethiopia_fi_unified_data.csv"
df = pd.read_csv(data_path)
df.head()

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

In [6]:
df.isna().sum()

record_id               0
record_type             0
category               33
pillar                 10
indicator               0
indicator_code          0
indicator_direction    10
value_numeric          10
value_text             33
value_type              0
unit                   10
observation_date        0
period_start           33
period_end             33
fiscal_year             0
gender                  0
location                0
region                 43
source_name             0
source_type             0
source_url             12
confidence              0
related_indicator      43
relationship_type      43
impact_direction       43
impact_magnitude       43
impact_estimate        43
lag_months             43
evidence_basis         43
comparable_country      0
collected_by            0
collection_date        33
original_text          10
notes                  43
dtype: int64

In [8]:
print(df.columns)

print(df.isna().sum())

Index(['record_id', 'record_type', 'category', 'pillar', 'indicator',
       'indicator_code', 'indicator_direction', 'value_numeric', 'value_text',
       'value_type', 'unit', 'observation_date', 'period_start', 'period_end',
       'fiscal_year', 'gender', 'location', 'region', 'source_name',
       'source_type', 'source_url', 'confidence', 'related_indicator',
       'relationship_type', 'impact_direction', 'impact_magnitude',
       'impact_estimate', 'lag_months', 'evidence_basis', 'comparable_country',
       'collected_by', 'collection_date', 'original_text', 'notes'],
      dtype='object')
record_id               0
record_type             0
category               33
pillar                 10
indicator               0
indicator_code          0
indicator_direction    10
value_numeric          10
value_text             33
value_type              0
unit                   10
observation_date        0
period_start           33
period_end             33
fiscal_year             0
gender                  0
location                0
region                 43
source_name             0
source_type             0
source_url             12
confidence              0
related_indicator      43
relationship_type      43
impact_direction       43
impact_magnitude       43
impact_estimate        43
lag_months             43
evidence_basis         43
comparable_country      0
collected_by            0
collection_date        33
original_text          10
notes                  43
dtype: int64

In [12]:
import pandas as pd
from datetime import datetime

def add_record(df, record, log_file="../data_enrichment_log.md"):
    """
    Safely add a new record to the DataFrame and log it.

    Parameters:
        df (pd.DataFrame): existing DataFrame
        record (dict): new observation/event/impact_link
        log_file (str): path to the enrichment log
    Returns:
        pd.DataFrame: updated DataFrame
    """

    record_id = record.get("record_id")
    if record_id in df['record_id'].values:
        print(f"Record {record_id} already exists. Skipping addition.")
        return df

    new_df = pd.DataFrame([record])
    df = pd.concat([df, new_df], ignore_index=True)
    print(f"Record {record_id} added.")

    today = datetime.today().strftime("%Y-%m-%d")
    log_entry = f"\n- **{today}** Added new record:\n"
    for k, v in record.items():
        log_entry += f"  - {k}: {v}\n"

    with open(log_file, "a") as f:
        f.write(log_entry)
    print(f"üìù Logged {record_id} in {log_file}.")

    return df

In [15]:
new_obs = {
    "record_id": "REC_NEW_001",
    "record_type": "observation",
    "category": None, 
    "pillar": "ACCESS",
    "indicator": "Account Ownership Rate",
    "indicator_code": "ACC_OWNERSHIP",
    "indicator_direction": "higher_better",
    "value_numeric": 51.0,
    "value_text": None,
    "value_type": "percentage",
    "unit": "%",
    "observation_date": "2025-01-01",
    "period_start": None,
    "period_end": None,
    "fiscal_year": 2025,
    "gender": "all",
    "location": "Ethiopia",
    "region": None,
    "source_name": "World Bank",
    "source_type": "survey",
    "source_url": "https://globalfindex.worldbank.org",
    "confidence": "high",
    "related_indicator": None,
    "relationship_type": None,
    "impact_direction": None,
    "impact_magnitude": None,
    "impact_estimate": None,
    "lag_months": None,
    "evidence_basis": None,
    "comparable_country": None,
    "collected_by": "Your Name",
    "collection_date": "2026-02-01",
    "original_text": None,
    "notes": "Extrapolated from 2024 data"
}

df = add_record(df, new_obs)

Record REC_NEW_001 already exists. Skipping addition.